/* Universal Styles */

html {
    font-size: 18px;

}

body {
    line-height: 1.4px;
    font-family: Helvetica;
    margin: 0;
}


/* Header */

header {

    width: 100%;
    display: flex;
    justify-content: center;


}

.header-container {
    width: 960px;
    height: 3rem;
    margin-top: 1rem;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.header-logo {
    display: flex;
    align-items: center;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-logo img {
    height: 1.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-navigation a {
    color: white;
    text-decoration: none;
    padding: 2rem;
}

/* Hero Image */

.hero-image-container {
    height: 31rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(images/glasses-bg.png);
    background-size: cover;
}

.copy-container {
    width: 960px;
    display: flex;
    height: 31rem;
    justify-content: flex-end;
}


.hero-copy {
    width: fit-content;
    padding: 1.5rem 5rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    background-color: white;
    margin-right: -2rem;
    margin-top: 14rem;
}

/* Central Images */

.central-images-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.central-images-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 960px;
    height: 10rem;
    margin-bottom: 3rem;

}

.infographics {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    height: 8rem;
    justify-content: space-between;
}

.infographics img {
    width: 5rem;
    padding: 0 6rem;
}

.infographics p {
    text-align: center;
}